{% extends 'survey/survey_base.html' %}
{% load static %}

{% block title %} CFO Insights 2018 International Survey {% endblock %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'survey/styles.css' %}">
{% endblock %}

{% block content %}
<div class="survey-wrapper" id="survey-about">
  <div class="content">
    <h1>About this survey</h1>
    <div class="survey-content-bg">
      <div class="survey-non-questions">
        <p>CFO Insights was established by Danish students from Copenhagen Business School to address the radical transformation currently facing the role of the CFO. Our mission is to arm the region's CFOs for the future and offer them a peak through the looking glass at what the future holds.</p>
        <p>We arrange the yearly CFO Insights conference based in Copenhagen with the region's leading service providers, 48 speakers, 9 panel debates and 500 executives, top finance students and thought leaders.</p>
        <span class="divider"></span>
        <p>We're grateful for the support by KPMG whose involvement has ensured the quality of the survey's questions.</p>
        <p>We hope you'll spend 10 minutes to complete our questions and as a reward, you'll unlock discounted tickets for our conference on May 25th.</p>
      </div>
    </div>
    <div class="center">
        <a href="{% url 'survey:questions' %}" class="button">Continue to survey</a>
    </div>
    <div class="powered-by">
      <span class="children">
        Survey powered by: <img src="{% static 'survey/kpmg.png' %}" alt="KPMG" id="kpmg_logo" />
      </span>
    </div>
  </div>
</div>
{% endblock %}

{% block survey_buttons %}
    <div class="center">
        <a href="{% url 'survey:questions' %}" class="button">Begin survey!</a>
    </div>
{% endblock %}