{% extends 'bases/base.html' %}
{% load static %}
{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'speakers/style.css' %}">
{% endblock %}

{% block header %}
<div class="header">
  <div class="title-bar" data-responsive-toggle="top-menu" data-hide-for="large">
    <div class="title-bar-left">
      <div class="title-bar-title">
        <img src="{% static 'img/logo.png' %}" class="logo" alt="CFO Insights">
      </div>
    </div>
    <div class="title-bar-right">
      <button class="menu-icon" type="button" data-toggle></button>
    </div>
  </div>
  <div class="top-bar" id="top-menu">
    <div class="top-bar-left" id="desktop-logo">
      <a href="{% url 'index' %}"><img src="{% static 'img/logo.png' %}" class="logo" alt="CFO Insights"></a>
    </div>
    <div class="top-bar-right">
      <ul class="vertical large-horizontal menu">
        <li><a href="{% url 'index' %}">Home</a></li>
        <li><a href="{% url 'index' %}#agenda">Agenda</a></li>
        <li><a class="active" href="{% url 'index' %}#speakers">Speakers</a></li>
        <li><a href="{% url 'index' %}#sponsors">Sponsors</a></li>
        <li><a href="{% url 'index' %}#about">About</a></li>
        <li><a href="{% url 'index' %}#tickets">Register now</a></li>
      </ul>
    </div>
  </div>
</div>
{% endblock%}

{% block title %}
CFO Insights - Speakers
{% endblock %}

{% block content %}
  <section class="subpage-hero" id="speakers-hero">
    <div class="content">
      <h1 class="subpage-header">Speakers</h1>
      <p class="subheader">CFO Insights features a full day of panel debates, keynotes and case presentations from some of the country's leading financial executives.</p>
    </div>
  </section>

  <section class="sponsor-cta">
    <h2 class="styleless-header">Interested in speaking?</h2>
    <div class="center">
      <a class="button" href="mailto:abdulwaqi.rathore@cfoinsights.org?subject=CFO%20Insights%20Speaker%20Application&cc=andreas.broby@cfoinsights.org;patrick.larsen@cfoinsights.org">Apply now!</a>
    </div>
  </section>

  <section class="content">
    <h2 class="subheaderless">Select a category</h2>
    <div class="grid-x grid-margin-x speaker-category">
      <fieldset class="small-6 medium-6 large-3 cell center">
        <input id="keynote" type="checkbox" class="speaker-filter-checkbox" checked="checked" value="3 4 5">
        <label for="keynote" class="button speaker-filter-button">
          <span class="filter-label">Keynote</span>
        </label>
      </fieldset>
      <fieldset class="small-6 medium-6 large-3 cell center">
        <input id="strategy" type="checkbox" class="speaker-filter-checkbox" checked="checked" value="0">
        <label for="strategy" class="button speaker-filter-button">
          <span class="filter-label">Strategy</span>
        </label>
      </fieldset>
      <fieldset class="small-6 medium-6 large-3 cell center">
        <input id="financial-management" type="checkbox" class="speaker-filter-checkbox" checked="checked" value="1">
        <label for="financial-management" class="button speaker-filter-button">
          <span class="filter-label">Financial Management</span>
        </label>
      </fieldset>
      <fieldset class="small-6 medium-6 large-3 cell center">
        <input id="future-trends" type="checkbox" class="speaker-filter-checkbox" checked="checked" value="2">
        <label for="future-trends" class="button speaker-filter-button">
          <span class="filter-label">Future Trends</span>
        </label>
      </fieldset>
    </div>
  </section>

  <section>
    <div class="content center">
      <div class="grid-x grid-margin-x">
          {% for speaker in speakers_list %}
            <div class="large-3 medium-6 cell small-6 speaker-cell" data-category="{% for panel in speaker.panels.all %}{{ panel.category }} {% endfor %}">
              <a href="{% url 'speaker_detail' slug=speaker.slug %}" class="card speaker-card">
                <div class="speaker-image-block">
                  <img src="{{ speaker.photo.url }}" class="speaker-img">
                  {% if speaker.moderator %}
                  <div class="moderator-speaker">
                    <i class="fas fa-microphone moderator-icon" aria-hidden="true"></i>
                    <p>Moderator</p>
                  </div>
                  {% endif %}
                </div>
                <div class="hover-overlay-large"></div>
                <div class="card-section">
                  <div class="speaker-card-name-wrapper">
                    <h3>{{ speaker.name }}</h3>
                  </div>
                  <p class="subheader speaker-subheader">{{ speaker.title }}, {{ speaker.company }}</p>
                </div>
              </a>
            </div>          
          {% endfor %}
      </div>
    </div>
  </section>
{% endblock %}

{% block scripts %}
  <script type="text/javascript" src="{% static 'speakers/js/speakers.js' %}"></script>
{% endblock %}