{% load static %}

<!doctype html>
<html class="no-js" lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CFO Insights</title>

  <link rel="apple-touch-icon" sizes="180x180" href="https://s3-eu-west-1.amazonaws.com/cfoinsights/img/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="https://s3-eu-west-1.amazonaws.com/cfoinsights/img/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="https://s3-eu-west-1.amazonaws.com/cfoinsights/img/favicon-16x16.png">
  <link rel="manifest" href="https://s3-eu-west-1.amazonaws.com/cfoinsights/site.webmanifest">
  <link rel="mask-icon" href="https://s3-eu-west-1.amazonaws.com/cfoinsights/img/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#002b39">
  <meta name="theme-color" content="#ffffff">

<meta property="og:image:width" content="1200" />
<meta property="og:image:height" content="630" />


<meta property='og:title' content="Scandinavia's biggest CFO conference"/>



<meta property='og:image' content="{% static './img/og.jpg' %}"/>



<meta property='og:description' content="Sign up to our newsletter and become the first to know about CFO Insights 2019."/>



<meta property='og:url' content='http://www.cfo-insights.org/denmark/' />



<meta property="og:type" content="website" /> 



  <link rel="stylesheet" href="{% static 'css/foundation.css' %}">
  <link rel="stylesheet" href="{% static 'css/app.css' %}">
  <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
</head>
<body>
  <div id="bg1">
    <div class="section1">
      <div class="hero-section">
        <img src="{% static '/img/logo.svg' %}" id="logo">
        <div class="hero-section-text">
          <h1>Thank you for attending </br><span class="light-blue">CFO Insights 2018</span></h1>
          <p class="subtitle">It has been an honour to host CFO Insights 2018. It wouldn’t have been possible without our partners, inspiring speakers and attendees. This is not the end! Sign up to our newsletter and get notified when we launch CFO Insights 2019.</p>
          <button class="button newsletter_scroll">Sign up now</button>
        </div>
      </div>
    </div>

    <div id="section1" class="section content">
      <h1>The First Step Torwads Building The World's Greatest CFO Conference, CFO Insights.</h1>
      <div class="grid-x grid-padding-x">
        <div class="cell large-6">
          <img src="{% static '/img/stage.jpg' %}" alt="More than 40 speakers took to the stage at CFO Insights 2018" class="content-img">
        </div>
        <div class="cell large-6">
          <h3>High-quality content distributed through innovative formats for years to come.</h3>
          <p>CFO Insights aims to provide high-quality insights into the CFO agenda, and the 2018  conference at Marriott was our first step on this journey.</p>
          <p>The conference was by far the largest CFO conference in Denmark this year, and we reached a following of more than 1,300 finance professionals on social media. We hope that you found the insights from our 43 speakers valuable and inspiring. The conference was the first of many future events. Sign up to our newsletter to get updates about CFO Insights 2019.</p>
          <div class="center">
            <button class="button newsletter_scroll">Sign up now</button>
          </div>
        </div>
      </div>
    </div>

    <div class="section" id="section2">
      <div class="content">
        <div class="grid-x center">
          <div class="medium-4 cell">
            <span class="block-span number">400+</span>
            <h3 class="caps">Attendees</h3>
            <span class="block-span">From some of the region's largest and most influential companies.</span>
          </div>
          <div class="medium-4 cell">
            <span class="block-span number">40+</span>
            <h3 class="caps">Speakers</h3>
            <span class="block-span">Experts, influencers, entrepreneurs, top CFO's and many more.</span>
          </div>
          <div class="medium-4 cell">
            <span class="block-span number">3</span>
            <h3 class="caps">Tracks</h3>
            <span class="block-span">Strategic leadership, financial management and the onslaught of technology.</span>
          </div>
        </div>
        <div class="testimonials">
          <div class="testimonial">
            <div class="grid-x grid-padding-x">
              <div class="cell large-4 medium-4">
                <img class="author_profile" src="{% static '/img/swl.jpg' %}">
              </div>
              <div class="cell large-8 medium-8">
                <div class="cite">
                  <p class="quote">”I was honored to speak at the CFO Insights conference earlier today. A great new event where you can tap into exciting insights for finance executives and expand your network. And organized by a group of highly ambitious and driven students. Well done organizers!”</p>
                  <div class="author">
                    <p>Søren Westh Lonning, CFO at Chr. Hansen. <img src="{% static '/img/chrhansen.png' %}" alt="Chr. Hansen"></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="testimonial">
            <div class="grid-x grid-padding-x">
              <div class="cell large-4 medium-4">
                <img class="author_profile" src="{% static '/img/sisse.jpg' %}">
              </div>
              <div class="cell large-8 medium-8">
                <div class="cite">
                  <p class="quote">”Inspiring speech by Jens Harsaae who started CFO Insights yesterday, where I together with Jakob Stausholm had the pleasure of sharing our experience with board work. Very nice conference the young CBS students organized.”</p>
                  <div class="author">
                    <p>Sisse Fjelsted Rasmussen, CFO at Scandinavian Tobacco Group. <img src="{% static '/img/stg.png' %}" alt="Chr. Hansen"></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="testimonial">
            <div class="grid-x grid-padding-x">
              <div class="cell large-4 medium-4">
                <img class="author_profile" src="{% static '/img/baltzer.jpg' %}">
              </div>
              <div class="cell large-8 medium-8">
                <div class="cite">
                  <p class="quote">”The conference had no commercial agenda but an agenda about networking, learning, and sharing of experiences, and it was precisely this that led to so many people attending which usually is not the case. I think it's super important that there is someone outside the finance industry who has no commercial interest but only has a professional interest in organizing this type of conference.”</p>
                  <div class="author">
                    <p>Christian Baltzer, CFO at Tryg. <img src="{% static '/img/tryg.png' %}" alt="Tryg"></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="testimonial">
            <div class="grid-x grid-padding-x">
              <div class="cell large-4 medium-4">
                <img class="author_profile" src="{% static '/img/anders.jpg' %}">
              </div>
              <div class="cell large-8 medium-8">
                <div class="cite">
                  <p class="quote">”Learned more about the role of the modern CFO and what it takes to land a board role. Also had the pleasure to participate in a roundtable on how Finance can impact strategy and value creation. A huge thank you to the CFO Insights team for putting together an outstanding lineup of speakers and a great conference”</p>
                  <div class="author">
                    <p>Anders Liu-Lindberg, Head of Global Finance PMO at Maersk. <img src="{% static '/img/maersk.png' %}" alt="Maersk"></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="section" id="section3">
      <div class="content">
        <h1>Thank you to our sponsors and partners for making CFO Insights possible</h1>
        <div class="grid-x grid-margin-x sponsors">
          <div class="cell large-4">
            <img src="{% static '/img/deloitte.png' %}" alt="Deloitte">
          </div>
          <div class="cell large-2">
            <img src="{% static '/img/kpmg.png' %}" alt="KPMG">
          </div>
          <div class="cell large-6">
            <img src="{% static '/img/samsung.png' %}" alt="Samsung">
          </div>
          <div class="cell large-6">
            <img src="{% static '/img/odgers.png' %}" alt="Odgers Berndtson">
          </div>
          <div class="cell large-3">
            <img src="{% static '/img/board.png' %}" alt="Board International">
          </div>
          <div class="cell large-3">
            <img src="{% static '/img/pleo.png' %}" alt="Pleo">
          </div>
          <div class="cell large-3">
            <img src="{% static '/img/am.png' %}" alt="Aston Martin Copenhagen">
          </div>
          <div class="cell large-4">
            <img src="{% static '/img/accobat.png' %}" alt="Accobat">
          </div>
          <div class="cell large-3">
            <img src="{% static '/img/timelog.png' %}" alt="TimeLog">
          </div>
          <div class="cell large-2">
            <img src="{% static '/img/ey.png' %}" alt="EY">
          </div>
        </div>
      </div>
    </div>

    <div class="section" id="section4">
      <div class="content">
        <h1>Interested in partnering up?</h1>
        <div class="center">
          <a href="mailto:kristoffer.lundberg@cfoinsights.org" class="button" id="contact-button">Contact us now</a>
        </div>
      </div>
    </div>
  </div>

  <div id="bg2">
    <div class="section" id="section5">
      <div class="content">
        <h1>Don't worry, it wasn't only a rock concert.</h1>
        <div class="narrow">
          <p class="center">Marriott was fully booked and could not room another ten people that day.  We were thrilled to see the number of discussions that took place during our networking sessions. We hope that you met many new peers and expanded your network of finance professionals. A special thanks to our exhibitors who put on a show with everything from VR glasses and other exciting new techs.</p>
        </div>
        <div class="grid-x grid-padding-x" id="lobby_pics">
          <div class="cell large-6">
            <img src="{% static '/img/lunch.jpg' %}">
          </div>
          <div class="cell large-6">
            <img src="{% static '/img/networking1.jpg' %}">
          </div>
        </div>
        <h1>CFO Insights 2018 was featured in</h1>
        <div class="grid-x grid-margin-x" id="media">
          <div class="cell large-4"><img src="{% static '/img/radio24syv.png' %}" alt="Radio24syv"></div>
          <div class="cell large-4"><img src="{% static '/img/jp.png' %}" alt="JyllandsPosten"></div>
          <div class="cell large-4"><img src="{% static '/img/boersen.png' %}" alt="Boersen"></div>
        </div>
      </div>
    </div>
  </div>
  <div id="bg3">
    <div class="section">
      <div class="content center">
        <h1>Become an insider today</h1>
        <p>Stay updated on upcoming events by signing up to the CFO Insights network. We will continue to interview leading finance professionals and host industry-leading events throughout the coming years and we hope that you will join our network.</p>
        <form id="subForm" class="js-cm-form" action="https://www.createsend.com/t/subscribeerror?description=" method="post" data-id="A61C50BEC994754B1D79C5819EC1255C9EC69CDDC474BFD22502C470E08C74A9344FE360D8F28890D981BEA26A43C8ECDF0784B45FE9BEF151A7E50D3686F54D">
          <div class="grid-x">
            <div class="cell large-7">
              <input id="fieldEmail" class="js-cm-email-input" name="cm-ehjykd-ehjykd" type="email" required placeholder="Your e-mail" /> 
            </div>
            <div class="cell large-5">
              <button class="js-cm-submit-button button" type="submit" id="email_button">Sign up now</button> 
            </div>
          </div>
          </form>
          <script type="text/javascript" src="https://js.createsend1.com/javascript/copypastesubscribeformlogic.js"></script>
        </div>
      </div>
    </div>

    <script src="{% static 'js/vendor/jquery.js' %}"></script>
    <script src="{% static 'js/vendor/what-input.js' %}"></script>
    <script src="{% static 'js/vendor/foundation.js' %}"></script>
    <script src="{% static 'js/jquery_placeholder.js' %}"></script>
    <script src="{% static 'js/app.js' %}"></script>
  </body>
  </html>
