{% extends 'bases/base.html' %}
{% load static %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'employees/styles.css' %}">
{% endblock %}

{% block header %}
<div class="header">
  <div class="title-bar" data-responsive-toggle="top-menu" data-hide-for="large">
    <div class="title-bar-left">
      <div class="title-bar-title">
        <img src="{% static 'img/logo.png' %}" class="logo" alt="CFO Insights">
      </div>
    </div>
    <div class="title-bar-right">
      <button class="menu-icon" type="button" data-toggle></button>
    </div>
  </div>
  <div class="top-bar" id="top-menu">
    <div class="top-bar-left" id="desktop-logo">
      <a href="{% url 'index' %}"><img src="{% static 'img/logo.png' %}" class="logo" alt="CFO Insights"></a>
    </div>
    <div class="top-bar-right">
      <ul class="vertical large-horizontal menu">
        <li><a href="{% url 'index' %}">Home</a></li>
        <li><a href="{% url 'index' %}#agenda">Agenda</a></li>
        <li><a href="{% url 'index' %}#speakers">Speakers</a></li>
        <li><a href="{% url 'index' %}#sponsors">Sponsors</a></li>
        <li><a class="active" href="{% url 'index' %}#about">About</a></li>
        <li><a href="{% url 'index' %}#tickets">Register now</a></li>
      </ul>
    </div>
  </div>
</div>
{% endblock%}

{% block title %}
CFO Insights - Team - {{ employee.name }}
{% endblock %}


{% block content %}
<style type="text/css">
  #member-headshot {
    background-image: url("{{ employee.photo.url }}");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
</style>

  <section class="subpage-hero" id="speakers-hero">
    <h1 class="subpage-header">{{ employee.name }}</h1>
  </section>

  <section class="content member-grid">
    <div class="grid-x member-info">
      <div class="medium-6 cell" id="member-headshot">
      </div>
      <div class="medium-6 cell light-blue-layer member-info-wrapper">
        <div class="member-info-square contact-information">
          <h2 class="styleless-header">{{ employee.name }}</h2>
          <p class="subheader">{{ employee.title }}</p>
          <ul class="bulletless fa-ul member-details-subpage">
            <li><span class="fa-li"><i class="fas fa-map-marker"></i></span><span class="member-push-right">{{ employee.address }}<br>{{ employee.city }}</span></li>
            {% if employee.mail %}
            <li><a href="mailto:{{ employee.mail }}"><span class="fa-li"><i class="fas fa-at"></i></span><span class="member-push-right">{{ employee.mail }}</span></a></li>
            {% endif %}
            {% if employee.phone_number %}
            <li><a href="tel:{{ employee.phone_number }}"><span class="fa-li"><i class="fas fa-phone"></i></span><span class="member-push-right">{{ employee.phone_number }}</span></a></li>
            {% endif %}
            <li><a href="{{ employee.linkedin_link }}"><span class="fa-li"><i class="fab fa-linkedin"></i></span><span class="member-push-right">Connect on LinkedIn</span></a></li>
          </ul>
        </div>
      </div>
      <div class="large-6 medium-12 cell dark-blue-layer member-info-wrapper">
        <ul class="bulletless margin-center cv-list">
          <li class="cv-section">
            <div class="cv-content">
              <h3>Education</h3>
              <p>{{ employee.education }}</p>
            </div>
          </li>
          <li class="cv-section">
            <div class="cv-content">
              <h3>Work</h3>
              <p>{{ employee.work }}</p>
            </div>
          </li>
        </ul>
      </div>
      <div class="large-6 medium-12 scell member-info-wrapper employee-bio">
        <div class="member-info-square margin-center">
          <h2>{{ name }} is</h2>
          <p class="member-bio">{{ employee.bio }}</p>
        </div>
      </div>
    </div>
  </section>
  {% endblock %}