{% extends 'bases/base.html' %}
{% load static %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'employees/styles.css' %}">
{% endblock %}

{% block header %}
<div class="header">
  <div class="title-bar" data-responsive-toggle="top-menu" data-hide-for="large">
    <div class="title-bar-left">
      <div class="title-bar-title">
        <img src="{% static 'img/logo.png' %}" class="logo" alt="CFO Insights">
      </div>
    </div>
    <div class="title-bar-right">
      <button class="menu-icon" type="button" data-toggle></button>
    </div>
  </div>
  <div class="top-bar" id="top-menu">
    <div class="top-bar-left" id="desktop-logo">
      <a href="{% url 'index' %}"><img src="{% static 'img/logo.png' %}" class="logo" alt="CFO Insights"></a>
    </div>
    <div class="top-bar-right">
      <ul class="vertical large-horizontal menu">
        <li><a href="{% url 'index' %}">Home</a></li>
        <li><a href="{% url 'index' %}#agenda">Agenda</a></li>
        <li><a href="{% url 'index' %}#speakers">Speakers</a></li>
        <li><a href="{% url 'index' %}#sponsors">Sponsors</a></li>
        <li><a class="active" href="{% url 'index' %}#about">About</a></li>
        <li><a href="{% url 'index' %}#tickets">Register now</a></li>
      </ul>
    </div>
  </div>
</div>
{% endblock%}

{% block title %}
CFO Insights - Team
{% endblock %}

{% block content %}

<section class="subpage-hero" id="speakers-hero">
  <div class="content">
    <h1 class="subpage-header">The team</h1>
    <p class="subheader">CFO Insights IVS is founded and run by business students from all over the country with an interest in the future role of the CFO. Get to know more about each individual member by clicking on their portraits.</p>
  </div>
</section>

<section class="content members-grid">
  <div class="grid-x grid-margin-x">
    {% for employee in employees %}
    <div class="large-3 medium-6 small-12 cell">
      <a class="card member-card" href="{% url 'employee_detail' slug=employee.slug %}">
        <div class="card-image employee-card-image">
          <img src="{{ employee.photo.url }}">
        </div>
        <div class="card-divider member-title">
          <div class="member-title-inner">
            <h2>{{ employee.name }}</h2>
            <p class="member-position">{{ employee.title }}</p>
          </div>
        </div>
        <div class="card-section member-details">
          <ul class="bulletless fa-ul">
            <li class="employee-l-top"><span class="fa-li"><i class="fas fa-graduation-cap fa-fw"></i></span><span class="member-push-right">{{ employee.education }}</span></li>
            <li class="employee-l-bottom"><span class="fa-li"><i class="fas fa-map-marker"></i></span><span class="member-push-right">{{ employee.school }}</span></li>
          </ul>
        </div>
      </a>
    </div>
    {% endfor %}
  </div>
</section>
{% endblock %}



<!-- Footer -->
<section class="footer center">
  <p>© COPYRIGHT 2017 CFO INSIGHTS IVS, ALL RIGHTS RESERVED 920 BROADWAY, 7TH FLOOR, NEW YORK, NY 10010 (646) 389-2523 </p>
</section>

{% block scripts %}
<script>
  window.FontAwesomeConfig = {
    searchPseudoElements: true
  }
</script>
{% endblock %}