.button {
    margin-top: 0px;
    margin-bottom: 0px;
}

h2:after {
    content: '';
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    border-bottom: solid 1px #fff;
    position: absolute;
    top: 50%;
    z-index: -1;
}

.header-overlay {
    padding-left: 20px;
    padding-right: 20px;
    background-color: white;
    z-index: 9999;
}

@media only screen and (max-width: 600px) {
    .header-overlay {
        padding-right: 0px;
        padding-left: 0px;
    }
}

.sponsor-cell {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}